/* font imports */
/* poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/* roboto */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* Option to choose either or Transition upon page load */
@keyframes transitionInX {
  from {
      opacity: 0;
      transform: rotateX(-10deg);
  }

  to {
      opacity: 1;
      transform: rotateX(0);
  }
}

/* Option to choose either or Transition upon page load */
@keyframes transitionInY {
  from {
      opacity: 0;
      transform: translateY(-10px);
  }

  to {
      opacity: 1;
      transform: translateY(0);
  }
}

@keyframes animate-background{
  0% {
      background-image: url(../images/login-images/image3.jpg) ;
  }
  20% {
      background-image: url(../images/login-images/image2.jpg) ;
  }
  40% {
      background-image: url(../images/login-images/image4.jpg) ;
  }
  60% {
      background-image: url(../images/login-images/image5.jpg) ;
  }
  80% {
      background-image: url(../images/login-images/image6.jpg) ;
  }
  100% {
      background-image: url(../images/login-images/image1.jpg) ;
  }
}

/* color variables */
:root {
  --blue: #84CCD3;
  --red: #F86B6B;
  --green: #BCD098;
  --yellow: #F5D771;
  --tan: #B38871;
  --offwhite: #E1D9CF;
  --white: #F7F7F5;
  --black: #253036;
}

* {
  font-family: 'Poppins', sans-serif;
  color: var(--black);
  animation: transitionInY 0.75s;

}

body {
  font-family: 'Poppins', sans-serif;
  color: var(--black);
  height: 100vh;
  width: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  transition: 5s;

  animation-name: animate-background;
  animation-direction: alternate-reverse;
  animation-duration: 30s ;
  animation-fill-mode: forwards ;
  animation-iteration-count: infinite ;
  animation-play-state: running ;
  animation-timing-function: ease-in-out ;

}

.btn {
  border: 1px solid var(--blue);
  color: var(--blue);
}

.btn:hover {
  background: var(--blue);
  color: var(--white);
}

.inner-row {
  height: 100vh;
}

.primaryColor {
  color: var(--blue);
}

.form-box {
  background: var(--white);
  border-radius: 15px;
}