/* font imports */
/* poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/* roboto */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* Option to choose either or Transition upon page load */
@keyframes transitionInY {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* color variables */
:root {
  --blue: #84CCD3;
  --red: #F86B6B;
  --green: #BCD098;
  --yellow: #F5D771;
  --tan: #B38871;
  --offwhite: #E1D9CF;
  --white: #F7F7F5;
  --black: #253036;
}

* {
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  animation: transitionInY 0.75s;

}

body {
  position: relative;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 30px;
  background-color: var(--black);
}

.container {
  position: relative;
  width: 1200px;
  min-height: 850px;
  margin: 0 auto;
  padding: 5px;
  color: var(--white);
  display: flex;
  border-radius: 15px;
  background-color: var(--blue);
  /* background-color: var(--black); */
}

.left {
  width: 60%;
  padding: 20px;
}

.calendar {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  color: var(--black);
  border-radius: 10px;
  background-color: var(--white);
}

/* set after behind the main element */
.calendar::before,
.calendar::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 100%;
  width: 12px;
  height: 97%;
  border-radius: 0 10px 10px 0;
  background-color: var(--offwhite);
  transform: translateY(-50%);
}

.calendar::before {
  height: 94%;
  left: calc(100% + 12px);
  background-color: var(--black);
  /* background-color: var(--blue); */
}

.calendar .month {
  width: 100%;
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 50px;
  font-size: 1.2rem;
  font-weight: 500;
  text-transform: capitalize;
}

.calendar .month .prev,
.calendar .month .next {
  cursor: pointer;
}

.calendar .month .prev:hover,
.calendar .month .next:hover {
  color: var(--blue);
}

.calendar .weekdays {
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  font-size: 1rem;
  font-weight: 500;
  text-transform: capitalize;
}

.weekdays div {
  width: 14.28%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.calendar .days {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0 20px;
  font-size: 1rem;
  font-weight: 500;
  margin-bottom: 20px;
}

.calendar .days .day {
  width: 14.28%;
  height: 90px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  color: var(--blue);
  /* border: 1px solid var(--blue); */
}

.calendar .days .day:not(.prev-date, .next-date):hover {
  color: var(--white);
  background-color: var(--blue);
}

.calendar .days .prev-date,
.calendar .days .next-date {
  color: var(--offwhite);
}

.calendar .days .active {
  position: relative;
  font-size: 2rem;
  color: var(--white);
  background-color: var(--blue);
}

/* shadow */
/* .calendar .days .active::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  box-shadow: 0 0 10px 2px var(--blue);
} */

.calendar .days .today {
  font-size: 3rem;
}

.calendar .days .event {
  position: relative;
}

.calendar .days .event::after {
  content: "";
  position: absolute;
  bottom: 10%;
  left: 50%;
  width: 75%;
  height: 6px;
  border-radius: 10px;
  transform: translateX(-50%);
  background-color: var(--blue);
}

.calendar .days .day:hover.event::after {
  background-color: var(--white);
}

.calendar .days .active.event::after {
  background-color: var(--white);
  bottom: 20%;
}

.calendar .days .active.event {
  padding-bottom: 10px;
}

.calendar .goto-today {
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 5px;
  padding: 0 20px;
  margin-bottom: 20px;
  color: var(--blue);
}

.calendar .goto-today .goto {
  display: flex;
  align-items: center;
  border-radius: 5px;
  overflow: hidden;
  border: 1px solid var(--blue);
}

.calendar .goto-today .goto input {
  width: 100%;
  height: 30px;
  outline: none;
  border: none;
  border-radius: 0px;
  padding: 0 20px;
  color: var(--blue);
}

.calendar .goto-today button {
  padding: 5px 10px;
  border: 1px solid var(--blue);
  border-radius: 5px;
  background-color: transparent;
  cursor: pointer;
  color: var(--blue);
}

.calendar .goto-today button:hover {
  color: #fff;
  background-color: var(--blue);
}

.calendar .goto-today .goto button {
  border: none;
  border-left: 1px solid var(--blue);
  border-radius: 0;
}

.container .right {
  position: relative;
  width: 40%;
  min-height: 100%;
  padding: 20px 0;
}

.right .today-date {
  width: 100%;
  height: 50px;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  align-items: center;
  justify-content: space-between;
  padding: 0 40px;
  padding-left: 70px;
  margin-top: 50px;
  margin-bottom: 20px;
  text-transform: capitalize;
}

.right .today-date .event-day {
  font-size: 2rem;
  font-weight: 500;
}

.right .today-date .event-date {
  font-size: 1rem;
  font-weight: 400;
  color: var(--white);
}

.today-weather {
  background-color: var(--white);
  font-family: "Poppins", sans-serif;
  color: #253036;
  width: 80%;
  height: 30%;
  /* width: 60%; */
  border-radius: 10px;
  margin: 0 auto;
  margin-bottom: 15px;
  padding: 10px;
  text-align: center;
}

.today-weather::before,
.today-weather::after {
  content: "";
  position: absolute;
  top: 31%;
  left: 90%;
  width: 12px;
  height: 26%;
  border-radius: 0 10px 10px 0;
  background-color: var(--offwhite);
  transform: translateY(-50%);
}

.today-weather::before {
  height: 23%;
  left: calc(93% - 2px);
  background-color: var(--black);
}

.city-name h1 {
  margin: 0;
}

#weather-img {
  height: 75px;
}

.weather-info p {
  margin: 0;
}

.events {
  width: 100%;
  height: 100%;
  max-height: 600px;
  overflow-x: hidden;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  padding-left: 4px;
}

.events .event {
  position: relative;
  width: 95%;
  min-height: 70px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 5px;
  padding: 0 20px;
  padding-left: 50px;
  color: var(--white);
  background: linear-gradient(90deg, var(--black), transparent);
  cursor: pointer;
}

/* even event */
.events .event:nth-child(even) {
  background: transparent;
}

.events .event:hover {
  background: linear-gradient(90deg, var(--blue), transparent);
}

.events .event .title {
  display: flex;
  align-items: center;
  pointer-events: none;
}

.events .event .title .event-title {
  font-size: 1rem;
  font-weight: 400;
  margin-left: 20px;
}

.events .event i {
  color: var(--blue);
  font-size: 0.5rem;
}

.events .event:hover i {
  color: var(--white);
}

.events .event .event-time {
  font-size: 0.8rem;
  font-weight: 400;
  color: var(--white);
  margin-left: 15px;
  pointer-events: none;
}

.events .event:hover .event-time {
  color: var(--white);
}

/* add tick in event after */
.events .event::after {
  content: "✓";
  position: absolute;
  top: 50%;
  right: 0;
  font-size: 3rem;
  line-height: 1;
  display: none;
  align-items: center;
  justify-content: center;
  opacity: 0.3;
  color: var(--blue);
  transform: translateY(-50%);
}

.events .event:hover::after {
  display: flex;
}

.add-event {
  position: absolute;
  bottom: 30px;
  right: 30px;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
  color: var(--white);
  border: 2px solid var(--white);
  opacity: 1;
  border-radius: 20%;
  background-color: transparent;
  cursor: pointer;
}

.add-event:hover {
  opacity: 1;
  background-color: var(--black);
  color: var(--blue);
  border: 2px solid var(--black);
}

.add-event i {
  pointer-events: none;
}

.events .no-event {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.25rem;
  font-weight: 500;
  color: var(--white);
}

.add-event-wrapper {
  position: absolute;
  bottom: 100px;
  left: 50%;
  width: 90%;
  max-height: 0;
  overflow: hidden;
  border-radius: 11px;
  background-color: var(--white);
  transform: translateX(-50%);
  transition: max-height 0.5s ease;
}

.add-event-wrapper.active {
  max-height: 395px;
}

.add-event-header {
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  color: var(--black);
  border-bottom: 1px solid var(--white);
}

.add-event-header .close {
  font-size: 1.5rem;
  cursor: pointer;
}

.add-event-header .close:hover {
  color: var(--blue);
}

.add-event-header .title {
  font-size: 1.2rem;
  font-weight: 500;
}

.add-event-body {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding: 20px;
}

.add-event-body .add-event-input {
  width: 100%;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}

.add-event-body .add-event-input input {
  width: 100%;
  height: 100%;
  outline: none;
  border: none;
  border-bottom: 1px solid var(--white);
  padding: 0 10px;
  font-size: 1rem;
  font-weight: 400;
  color: var(--black);
}

/* .add-event-body .add-event-input input::placeholder {
  color: var(--black);
} */

.add-event-body .add-event-input input:focus {
  border-bottom: 1px solid var(--blue);
}

.add-event-body .add-event-input input:focus::placeholder {
  color: var(--blue);
}

.add-event-footer {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.add-event-footer .add-event-btn {
  height: 40px;
  font-size: 1rem;
  font-weight: 500;
  outline: none;
  border: none;
  color: var(--white);
  background-color: var(--blue);
  border-radius: 5px;
  cursor: pointer;
  padding: 5px 10px;
  border: 1px solid var(--blue);
}

.add-event-footer .add-event-btn:hover {
  background-color: transparent;
  color: var(--blue);
}

/* media queries */

@media screen and (max-width: 1000px) {
  body {
    align-items: flex-start;
    justify-content: flex-start;
  }

  .container {
    min-height: 100vh;
    flex-direction: column;
    border-radius: 0;
  }

  .container .left {
    width: 100%;
    height: 100%;
    padding: 20px 0;
  }

  .container .right {
    width: 100%;
    height: 100%;
    padding: 20px 0;
  }

  .calendar::before,
  .calendar::after {
    top: 100%;
    left: 50%;
    width: 97%;
    height: 12px;
    border-radius: 0 0 5px 5px;
    transform: translateX(-50%);
  }

  .calendar::before {
    width: 94%;
    top: calc(100% + 12px);
  }

  .today-weather::before,
  .today-weather::after {
    top: 42.4%;
    left: 50%;
    width: 75.5%;
    height: 12px;
    border-radius: 0 0 5px 5px;
    transform: translateX(-50%);
  }

  .today-weather::before {
    width: 72%;
    top: 44%;
  }

  .events {
    padding-bottom: 340px;
  }

  .add-event-wrapper {
    bottom: 100px;
  }
}

@media screen and (max-width: 500px) {
  .calendar .month {
    height: 75px;
  }

  .calendar .weekdays {
    height: 50px;
  }

  .calendar .days .day {
    height: 40px;
    font-size: 0.8rem;
  }

  .calendar .days .day.active,
  .calendar .days .day.today {
    font-size: 1rem;
  }

  .right .today-date {
    padding: 20px;
  }

  .today-weather {
    width: 100%;
  }

  .calendar::before,
  .calendar::after {
    top: 100%;
    left: 50%;
    width: 95%;
    height: 12px;
    border-radius: 0 0 5px 5px;
    transform: translateX(-50%);
  }

  .calendar::before {
    width: 90%;
    top: calc(100% + 12px);
  }

  .today-weather::before,
  .today-weather::after {
    top: 42.4%;
    left: 50%;
    width: 94%;
    height: 12px;
    border-radius: 0 0 5px 5px;
    transform: translateX(-50%);
  }

  .today-weather::before {
    width: 88%;
    top: 44%;
  }
}